################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FolderSynchronizer/FolderSynchronizerApp/.vs
/FolderSynchronizer/FolderSynchronizerApp/bin
/FolderSynchronizer/FolderSynchronizerApp/obj
/FolderSynchronizer/FolderSynchronizerTestApp/bin
/FolderSynchronizer/FolderSynchronizerTestApp/obj
